@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dongle';
    src: local('Dongle'),
    url('./assets/fonts/Dongle/Dongle-Regular.ttf');
    font-weight: regular;
}

@font-face {
    font-family: 'Jua';
    src: local('Jua'),
    url('./assets/fonts/Jua/Jua-Regular.ttf');
    font-weight: regular;
}